
<div id="work-container" ng-show="curView == 'work'"> 
  <img ng-src={{timers.workTimer.imageFile}} alt=""> 
  <h1 class="main-title work">At Work</h1>
  <h1 class="timer">{{ timeRemaining() | timecode }}</h1>
  <button type="button" class="btn btn-success break-btn" ng-click="switchTimers(timers.breakTimer)">Take a Break</button>
  <button type="button" class="btn btn-success break-btn" ng-click="startPauseTimer(timers.workTimer)" ng-disabled="timeRemaining()==0">{{ startPauseText }}</button>
  <button type="button" class="btn btn-success break-btn" ng-click="resetTimer(timers.workTimer)">Reset Timer</button>
</div>

<div id="work-container" ng-show="curView == 'break'"> 
  <img ng-src={{timers.breakTimer.imageFile}} alt=""> 
  <h1 class="main-title break">On Break</h1>
  <h1 class="timer">{{ timeRemaining() | timecode }}</h1>
  <button type="button" class="btn btn-success break-btn" ng-click="switchTimers(timers.workTimer)">Back to Work</button>
  <button type="button" class="btn btn-success break-btn" ng-click="startPauseTimer(timers.breakTimer)" ng-disabled="timeRemaining()==0">{{ startPauseText }}</button>
  <button type="button" class="btn btn-success break-btn" ng-click="resetTimer(timers.breakTimer)">Reset Timer</button>
</div>



